.media:first-child{
		margin-top: 15px;
}
.btn-outline{
		background: #ffffff;
		border: 1px solid #ff804d;
		border-radius: 4px;
		cursor: pointer;
		display: inline-block;
		font-size: 1.015em;
		font-weight: 300;
		line-height: 1.42857;
		margin-bottom: 0;
		padding: 10px 15px;
		text-align: center;
		vertical-align: middle;
		white-space: nowrap;
		color: #ff804d;
	}
	
	.btn-outline:hover{
		background: #ff804d;
		border: 1px solid #ff804d;
		color: white;
	}
	.delete-contract,.edit-pencil {
		color:#ff804d !important;
	}
	.navbar-default {
		background-color: #ff804d;
		border-color: #e7e7e7;
		color: white;
	}
	.form-control{
		font-weight: 300;
		color: #616365;
		word-wrap: break-word;
		box-shadow: none;
		height: 39px;
		line-height: 1.82857;
	}
	.width-140{
		width:140px;
	}
	.error{
		border:1px solid red;
	}
	.help-inline{
		color:red;
	}